################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/myApp/.vs/myApp/v15
/myApp/.vs/config
/myApp/packages
/myApp/myWebApiApp.Tests/obj/Debug
/myApp/myWebApiApp/obj/Debug
/myApp/myWebApiApp/bin
/myApp/myWebApiApp/obj/Release
/myApp/myWebApiApp/Properties/PublishProfiles
/myApp/myWebApiApp.Tests/obj/Release
